@charset "UTF-8";
div.debug-wrapper,
div.debug-wrapper * {
	box-sizing: border-box;
}

div.debug-wrapper {
	width: 100%;
	box-sizing: border-box;
}

.debug-btn-title {
	position: relative;
	display: block;
	clear: both;
	width: 100%;
	border-top: 1px solid #eee;
	padding: 5px 0 0 0;
	margin: 10px 0;
	font-weight: bold;
	color: #aaa !important;
}

div.debug-btn {
	width: 48%;
	float: left;
	margin: 1%;
	padding: 0;
	background-color: transparent;
}

a.debug-btn,
a.debug-btn:active,
a.debug-btn:hover {
	font-size: 12px;
	text-decoration: none !important;
	max-width: 100%;
}

.debug-btn img {
	width: 60%;
	margin-left: 0;
	margin-bottom: 7px;
	display: block;
	max-width: 100px;
	height: auto;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.debug-btn img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

a.debug-btn.column {
	float: left;
	margin: 7px;
	opacity: 0.6;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}

a.debug-btn.column:hover {
	opacity: 1;
}

a.debug-btn.column img {
	width: 22px;
	height: auto;
}

/** Admin Side **/
.dts_settings_debuggers_wrapper {
	display: block;
	clear: both;
}

.dts_settings_debuggers {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	background-position: center center;
	background-attachment: local;
	background-size: contain;
	margin-right: 25px;
}

.dts_settings_debuggers label {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dts_settings_debuggers.unchecked {
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	opacity: 0.7;
}

#dts-debugger-settings-wrap {
	display: relative;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	padding: 25px;
	background: white;
}

#dts-debugger-settings-wrap input.disabled {
	pointer-events: none;
	cursor: default;
}

#dts-debugger-settings-wrap table {
	display: block;
	width: 100%;
	background: white;
}

#dts-debugger-settings-wrap table tr {
	display: block;
	max-width: 600px;
	width: 100%;
	padding: 10px;
	border: 1px solid #fafafa;
}

#dts-debugger-settings-wrap table th:first-child {
	padding: 0;
}

#dts-debugger-settings-wrap table td {
	display: block;
	padding-left: 0;
	margin-right: 25px;
}

#dts-debugger-settings-wrap .dts_debugger_select_post_types ~ table th {
	width: auto;
	display: inline-block;
}

#dts-debugger-settings-wrap .dts_debugger_select_post_types ~ table td {
	float: left;
	vertical-align: top;
	margin-top: -1.2em;
	margin-right: 0;
	margin-bottom: 0;
}